{% extends "chat/base.html" %}
{% block title %}{{ room_id }}{% endblock %}
{% block h1 %}You are watching messages in room {{ room_id }}{% endblock %}
{% block content %}
    <form action="." method="post">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value="Send">
    </form>
    <ul class="comments">
        {% for comment in comments %}
            <li class="single-comment">
                {{ comment.body }} posted on {{ comment.created }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}